html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  color: #fff;
  @extend %ubuntu-light;
  font-size: 17px;
  line-height: 26px;
}

.page-section {
  position: relative;
  min-height: 100vh;
  padding: 74px 0 50px;
  background-image: url("../images/page-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.title {
  @extend %sf-regular;
  font-size: 44px;
  line-height: 53px;
  padding-left: 25px;
  margin-bottom: 55px;
}

.scroll__btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 13px 0 30px;
  text-align: center;
}
.scroll__btn a {
  display: inline-block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
