@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 10;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    @extend %ubuntu-medium;
  }
  &__btn {
    color: #fff;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__btn:hover {
    color: #000;
    background-color: #fff;
  }
  &__phone {
    font-size: 16px;
    line-height: 18px;
    @extend %ubuntu-bold;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    & + .menu__list-item {
      padding-left: 20px;
    }
  }
}

// top
.top {
  background-image: url("../images/top-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000000 87.89%
    );
    opacity: 0.4;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__title {
    margin-bottom: 25px;
    @extend %sf-semibold;
    font-size: 96px;
    line-height: 115px;
  }
  &__text {
    max-width: 325px;
    width: 100%;
    margin: 25px 0 35px;
  }
  &__social-item {
    display: inline-block;
    margin: 0 25px;
  }
  &__social-link {
    opacity: 0.5;
    transition: all 0.3s;
  }
  &__social-link:hover {
    opacity: 1;
  }
}

// products
.products {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }
  &__text {
    width: 100%;
    max-width: 440px;
    p {
      margin-bottom: 30px;
    }
  }
  &__slider-box {
    padding-top: 110px;
    position: relative;
  }
  &__slider-text {
    position: absolute;
    bottom: 30px;
    left: -250px;
    z-index: 5;
    width: 285px;
    text-align: right;
    @extend %ubuntu-medium;

    font-size: 24px;
    line-height: 28px;
  }
  &__slider {
    width: 100%;
    max-width: 560px;
  }
  &__slider::after {
    content: "";
    position: absolute;
    top: -15px;
    right: -17px;
    z-index: -1;
    width: 560px;
    height: 276px;
    border: 4px solid #ffffff;
  }
  .slider-btn {
    position: absolute;
    bottom: -51px;
    right: 0;
    z-index: 5;
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    svg {
      stroke: #000;
    }
    &__right {
      right: 60px;
    }
    &.slick-disabled {
      background-color: #000;
      svg {
        stroke: #fff;
      }
    }
  }
}

.benefits {
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
  }
  &__item {
    margin-bottom: 100px;
    display: flex;
    &:nth-child(even) {
      margin-left: 40px;
      transform: translateY(20px);
    }
    &:nth-child(3) {
      margin-left: 30px;
    }
    &:nth-child(4) {
      margin-left: 60px;
    }
    &:first-child,
    &:nth-child(3) {
      position: relative;
      &::after,
      &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }
    &:first-child {
      &::after {
        top: 31px;
        right: -56px;
        height: 48px;
        width: 245px;
        background-image: url("../images/line-1.svg");
      }
    }
    &:nth-child(3) {
      &::before {
        background-image: url("../images/line-3.svg");
        width: 254px;
        height: 43px;
        right: -55px;
        top: 50px;
      }
      &::after {
        width: 463px;
        height: 63px;
        top: -70px;
        right: -54px;
        background-image: url("../images/line-2.svg");
      }
    }
  }
  &__num {
    margin-right: 10px;
    @extend %ubuntu-bold;
    font-size: 36px;
    line-height: 41px;
    align-self: flex-end;
  }
  &__img {
    margin-right: 32px;
    position: relative;
  }
  &__img::after {
    content: "";
    position: absolute;
    right: -12px;
    top: -12px;
    z-index: -1;
    width: 193px;
    height: 128px;
    border: 2px solid #ffffff;
  }
  &__info {
    width: 300px;
  }
  &__info-title {
    margin-bottom: 10px;
    width: 123px;
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 24px;
  }
  &__info-text {
    font-size: 15px;
    line-height: 19px;
  }
}

.specification {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
  }
  &__item--center {
    margin-left: -15px;
    margin-right: -15px;
  }
  &__box {
    position: relative;
    width: 280px;
    margin-top: 10px;
    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }
  }
  &__box-2 {
    margin-top: 140px;
  }
  &__box-4 {
    margin-top: 160px;
  }

  &__box-1::before {
    top: 16px;
    right: -140px;
    width: 229px;
    height: 114px;
    background-image: url("../images/pointer-1.svg");
  }
  &__box-2::before {
    top: -65px;
    right: -308px;
    width: 346px;
    height: 81px;
    background-image: url("../images/pointer-2.svg");
  }
  &__box-3::before {
    top: 16px;
    left: -300px;
    width: 258px;
    height: 103px;
    background-image: url("../images/pointer-3.svg");
  }
  &__box-4::before {
    top: -73px;
    left: -172px;
    width: 124px;
    height: 89px;
    background-image: url("../images/pointer-4.svg");
  }
  &__box-title {
    margin-bottom: 10px;
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 28px;
  }
  &__box-text {
    font-size: 15px;
    line-height: 19px;
    font-weight: 300;
  }
}

.questions {
  &__items {
    width: 100%;
    max-width: 757px;
    padding-bottom: 15px;
  }
  &__item {
    position: relative;
    margin-bottom: 5px;
    max-width: 690px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    &:nth-child(3):before {
      content: "";
      position: absolute;
      top: -33px;
      right: -386px;
      width: 319px;
      height: 125px;
      background-image: url("../images/questions-bg.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  &__item-title {
    position: relative;
    padding: 20px 10px 20px 40px;
    @extend %ubuntu-medium;
    font-size: 21px;
    line-height: 28px;
    color: rgba(#fff, 0.8);
    cursor: pointer;
    &::after {
      content: url("../images/questions-arrow.svg");
      position: absolute;
      right: -72px;
      top: 0;
      width: 72px;
      height: 67px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__item-text {
    display: none;
    padding: 0 5px 75px 50px;
    font-size: 15px;
    line-height: 22px;
  }
  &__item.questions__item--active {
    .questions__item-title::after {
      transform: rotate(180deg);
    }
    .questions__item-text {
      display: block;
    }
  }
}

@import "media";
